In [1]:
import sqlite3
import pandas as pd
import numpy as np
from gurobipy import *
import datetime
import time

from Wanderworld import *

def generateNewRoute(model):
    route_tuples = []

    for (key,value) in model.LEGS.iteritems():
        if (value.x!=0) and key[0] != key[1]:
            #print key, cost[key], str(key[2])[-2:]
            route_tuples.append(key+(model.COST[key],))

    #print ""

    #print route_tuples
        
    route_tuples = sorted(route_tuples, key=lambda tup: tup[2]) #sorts on date
    route_tuples.append(model.MODEL.objVal) #adds price to list
    route_tuples = tuple(route_tuples) #transforms list to tuple
    
    return route_tuples

    #for i in route_tuples:
        #print i

In [2]:
conn = sqlite3.connect("flights_final_4_13.db")
c = conn.cursor()
query = c.execute('''SELECT * From flights_min_city ''')
cols = [column[0] for column in query.description]
results = pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [6]:
results[results['origin_city_name']=='Berlin']

,price,origin_id,destination_id,outbound_date,inbound_date,currency,origin_city_name,origin_country_name,destination_city_name,destination_country_name,direct,carrier_name,carrier_id,skyscanner_code,date_collected
4200,35.0,TXL,DUS,2017-05-05T00:00:00,2017-05-05T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 13:02:15.332427
4201,35.0,TXL,DUS,2017-06-12T00:00:00,2017-06-12T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4202,35.0,TXL,DUS,2017-07-07T00:00:00,2017-07-07T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 09:30:09.017505
4203,35.0,TXL,DUS,2017-08-18T00:00:00,2017-08-18T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4656,36.0,TXL,DUS,2017-06-10T00:00:00,2017-06-10T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4657,36.0,TXL,DUS,2017-06-14T00:00:00,2017-06-14T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4658,36.0,TXL,DUS,2017-07-19T00:00:00,2017-07-19T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 09:30:09.017505
4950,37.0,TXL,DUS,2017-05-04T00:00:00,2017-05-04T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4951,37.0,TXL,DUS,2017-05-09T00:00:00,2017-05-09T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4952,37.0,TXL,DUS,2017-05-17T00:00:00,2017-05-17T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4953,37.0,TXL,DUS,2017-05-20T00:00:00,2017-05-20T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 13:02:15.332427
4954,37.0,TXL,DUS,2017-05-22T00:00:00,2017-05-22T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4955,37.0,TXL,DUS,2017-05-23T00:00:00,2017-05-23T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4956,37.0,TXL,DUS,2017-06-07T00:00:00,2017-06-07T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4957,37.0,TXL,DUS,2017-06-08T00:00:00,2017-06-08T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:53:21.621745
4958,37.0,TXL,DUS,2017-06-21T00:00:00,2017-06-21T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4959,37.0,TXL,DUS,2017-06-27T00:00:00,2017-06-27T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4960,37.0,TXL,DUS,2017-07-04T00:00:00,2017-07-04T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:53:21.621745
4961,37.0,TXL,DUS,2017-07-09T00:00:00,2017-07-09T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4962,37.0,TXL,DUS,2017-07-12T00:00:00,2017-07-12T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4963,37.0,TXL,DUS,2017-07-21T00:00:00,2017-07-21T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:53:21.621745
4964,37.0,TXL,DUS,2017-07-25T00:00:00,2017-07-25T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4965,37.0,TXL,DUS,2017-08-01T00:00:00,2017-08-01T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4966,37.0,TXL,DUS,2017-08-10T00:00:00,2017-08-10T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4967,37.0,TXL,DUS,2017-08-13T00:00:00,2017-08-13T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4968,37.0,TXL,DUS,2017-10-23T00:00:00,2017-10-23T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
4969,37.0,TXL,DUS,2017-12-27T00:00:00,2017-12-27T00:00:00,USD,Berlin,Germany,Dusseldorf,Germany,1,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
6008,38.0,TXL,BCN,2017-05-17T00:00:00,2017-05-17T00:00:00,USD,Berlin,Germany,Barcelona,Spain,1,Vueling Airlines,7,TXL,2017-04-13 00:12:06.629081
6009,38.0,TXL,BCN,2017-11-04T00:00:00,2017-11-04T00:00:00,USD,Berlin,Germany,Barcelona,Spain,1,Vueling Airlines,7,TXL,2017-04-13 00:12:06.629081
6010,38.0,TXL,BCN,2017-11-11T00:00:00,2017-11-11T00:00:00,USD,Berlin,Germany,Barcelona,Spain,1,Vueling Airlines,7,TXL,2017-04-13 00:12:06.629081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181895,562.0,atl,TXL,2017-05-28T00:00:00,2017-05-28T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964
181971,563.0,atl,TXL,2017-05-21T00:00:00,2017-05-21T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964
182782,574.0,mco,TXL,2017-05-21T00:00:00,2017-05-21T00:00:00,USD,Berlin,Germany,Orlando,United States,0,Air Berlin,834,TXL,2017-04-13 09:47:44.024964
184250,592.0,mco,TXL,2017-05-31T00:00:00,2017-05-31T00:00:00,USD,Berlin,Germany,Orlando,United States,0,Air Berlin,834,TXL,2017-04-13 09:47:44.024964
184660,596.0,mco,TXL,2017-05-26T00:00:00,2017-05-26T00:00:00,USD,Berlin,Germany,Orlando,United States,0,Air Berlin,834,TXL,2017-04-13 09:47:44.024964
184839,598.0,mco,TXL,2017-05-27T00:00:00,2017-05-27T00:00:00,USD,Berlin,Germany,Orlando,United States,0,Air Berlin,834,TXL,2017-04-13 09:47:44.024964
184998,600.0,atl,TXL,2017-05-20T00:00:00,2017-05-20T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964
185127,602.0,atl,TXL,2017-05-18T00:00:00,2017-05-18T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964
185195,603.0,TXL,FRA,2017-10-17T00:00:00,2017-10-17T00:00:00,USD,Berlin,Germany,Frankfurt,Germany,0,Air Berlin,834,TXL,2017-04-13 00:12:06.629081
185517,607.0,atl,TXL,2017-05-07T00:00:00,2017-05-07T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964
185595,608.0,mco,TXL,2017-05-25T00:00:00,2017-05-25T00:00:00,USD,Berlin,Germany,Orlando,United States,0,Air Berlin,834,TXL,2017-04-13 09:47:44.024964
185713,610.0,atl,TXL,2017-05-31T00:00:00,2017-05-31T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964
187660,639.0,mco,TXL,2017-05-29T00:00:00,2017-05-29T00:00:00,USD,Berlin,Germany,Orlando,United States,0,Air Berlin,834,TXL,2017-04-13 09:47:44.024964
188270,648.0,mco,TXL,2017-05-20T00:00:00,2017-05-20T00:00:00,USD,Berlin,Germany,Orlando,United States,0,Air Berlin,834,TXL,2017-04-13 09:47:44.024964
188271,648.0,mco,TXL,2017-05-22T00:00:00,2017-05-22T00:00:00,USD,Berlin,Germany,Orlando,United States,0,Air Berlin,834,TXL,2017-04-13 09:47:44.024964
188350,649.0,TXL,IST,2017-12-16T00:00:00,2017-12-16T00:00:00,USD,Berlin,Germany,Istanbul,Turkey,0,British Airways,881,TXL,2017-04-13 00:12:06.629081
188631,654.0,atl,TXL,2017-05-30T00:00:00,2017-05-30T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964
189058,661.0,mco,TXL,2017-05-06T00:00:00,2017-05-06T00:00:00,USD,Berlin,Germany,Orlando,United States,0,Air Berlin,834,TXL,2017-04-13 09:47:44.024964
192883,725.0,atl,TXL,2017-05-19T00:00:00,2017-05-19T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964
193665,742.0,mco,TXL,2017-05-16T00:00:00,2017-05-16T00:00:00,USD,Berlin,Germany,Orlando,United States,0,Air Berlin,834,TXL,2017-04-13 09:47:44.024964
196460,806.0,atl,TXL,2017-05-26T00:00:00,2017-05-26T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964
196641,811.0,atl,TXL,2017-05-29T00:00:00,2017-05-29T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964
199798,935.0,atl,TXL,2017-05-27T00:00:00,2017-05-27T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964
200498,981.0,TXL,OSL,2017-08-31T00:00:00,2017-08-31T00:00:00,USD,Berlin,Germany,Oslo,Norway,0,airBaltic,900,TXL,2017-04-13 00:12:06.629081
204310,1456.0,TXL,MAD,2017-11-09T00:00:00,2017-11-09T00:00:00,USD,Berlin,Germany,Madrid,Spain,0,Vueling Airlines,7,TXL,2017-04-13 00:12:06.629081
204329,1458.0,TXL,MAD,2017-11-06T00:00:00,2017-11-06T00:00:00,USD,Berlin,Germany,Madrid,Spain,0,Vueling Airlines,7,TXL,2017-04-13 00:12:06.629081
204629,1528.0,mco,TXL,2017-05-19T00:00:00,2017-05-19T00:00:00,USD,Berlin,Germany,Orlando,United States,0,Air Berlin,834,TXL,2017-04-13 09:47:44.024964
206617,2879.0,atl,TXL,2017-05-05T00:00:00,2017-05-05T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964
206715,2914.0,atl,TXL,2017-05-12T00:00:00,2017-05-12T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964
206799,2948.0,atl,TXL,2017-05-06T00:00:00,2017-05-06T00:00:00,USD,Berlin,Germany,Atlanta,United States,0,Iberia,1218,TXL,2017-04-13 09:47:44.024964

In [17]:
if __name__ == "__main__":
	conn = sqlite3.connect("flight_sample.db")
	c = conn.cursor()
	query = c.execute('''SELECT * From flights ''')
	cols = [column[0] for column in query.description]
	results = pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

	# results.to_csv('flights.csv')

	#df = pd.read_sql_query("SELECT * FROM table_name", conn)
	#dat = sqlite3.connect("flight.db")
	#query = dat.execute("SELECT * From flight")
	#cols = [column[0] for column in query.description]
	#results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)


	user_start = '2017-05-01T00:00:00'
	user_end = '2017-05-31T00:00:00'
	origins = results['origin_id'].unique()
	city_list = origins
	num_days = 15
	min_days = 2
	origin = 'ATL'
	#print city_list


	Example = WanderWorld(results)
	Example.inputTimeFrame(user_start, user_end, city_list, num_days, min_days, origin)
	Example.createInputDicts()
	Example.buildAndSolveModel()

	routes = []

	for model in Example.modelList:
		routes.append(generateNewRoute(model))

	#for model in Example.modelList:
    	#in main loop:
    	#routes.append(generateNewRoute(model))
    	#print routes
		#print routes

    	#sort and slice at very end:
	sorted_routes = sorted(routes, key=lambda tup: tup[-1]) #sorts on total price
	final_results = sorted_routes[0:4] #or however many we want to return

	# print 'length:',len(final_results)
	# print final_results

	#import csv
	#with open('final_result.csv', 'wb') as myfile:
	#	wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
	#	wr.writerow(final_results)
    
	outputDict = {}
	outputDict['TripID'] = []
	outputDict['Seq'] = []
	outputDict['Origin'] = []
	outputDict['Dest'] = []
	outputDict['Price'] = []
	outputDict['Date1'] = []
	outputDict['Date2'] = []
	outputDict['Total Price'] = [] 
    
	for tripID, route in enumerate(final_results):
		#print route
		totalPrice = route[-1]
		for seq, flight in enumerate(route): 
			if(flight==totalPrice):
				break
			outputDict['TripID'].append(tripID)
			outputDict['Seq'].append(seq)
			outputDict['Origin'].append(flight[0])
			outputDict['Dest'].append(flight[1])
			outputDict['Price'].append(flight[4])
			departDate_String, arriDate_String = extractRealDate(flight)
			outputDict['Date1'].append(departDate_String)
			outputDict['Date2'].append(arriDate_String)
			outputDict['Total_Price'].append(totalPrice) 
            
	print outputDict
	outputDF = pd.DataFrame.from_dict(outputDict)
	print outputDF
    
	outputDF.to_csv('niceOutput.csv')

2017-05-01
2017-05-02
2017-05-03
2017-05-04
2017-05-05
2017-05-06
2017-05-07
2017-05-08
2017-05-09
2017-05-10
2017-05-11
2017-05-12
2017-05-13
2017-05-14
2017-05-15
2017-05-16
Optimize a model with 54 rows, 125 columns and 414 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [3e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Presolve removed 10 rows and 27 columns
Presolve time: 0.01s
Presolved: 44 rows, 98 columns, 332 nonzeros
Variable types: 0 continuous, 98 integer (98 binary)
Found heuristic solution: objective 4051.0000000

Root relaxation: objective 2.092061e+03, 59 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 2092.06061    0   26 4051.00000 2092.06061  48.4%     -    0s
H    0     0                    2106.0000000 2092.06061  0.66%     -    0s
     0     0     cutoff    0      2106.00000 2105.00211  0.05%     -    0s

Cutting planes:
  Gomory: 1
  Zero half: 2

Explored 0 nodes (60 simplex iterations) in 0.06 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 2.106000000000e+03, best bound 2.106000000000e+03, gap 0.0%
Optimize a model with 54 rows, 125 columns and 414 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [3e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Presolve removed 10 rows and 27 columns
Presolve time: 0.01s
Presolved: 44 rows, 98 columns, 332 nonzeros
Variable types: 0 continuous, 98 integer (98 binary)
Found heuristic solution: objective 4067.0000000
Found heuristic solution: objective 3840.0000000

Root relaxation: objective 1.183825e+03, 65 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 1183.82500    0   30 3840.00000 1183.82500  69.2%     -    0s
*    0     0               0    1255.0000000 1255.00000  0.00%     -    0s

Cutting planes:
  Gomory: 1
  Zero half: 2

Explored 0 nodes (74 simplex iterations) in 0.05 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 1.255000000000e+03, best bound 1.255000000000e+03, gap 0.0%
Optimize a model with 54 rows, 124 columns and 411 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [3e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Found heuristic solution: objective 3740
Presolve removed 32 rows and 83 columns
Presolve time: 0.01s
Presolved: 22 rows, 41 columns, 123 nonzeros
Variable types: 0 continuous, 41 integer (41 binary)

Root relaxation: objective 3.719667e+03, 19 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 3719.66667    0    6 3740.00000 3719.66667  0.54%     -    0s
H    0     0                    3725.0000000 3719.66667  0.14%     -    0s
H    0     0                    3721.0000000 3719.66667  0.04%     -    0s

Explored 0 nodes (19 simplex iterations) in 0.04 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 3.721000000000e+03, best bound 3.721000000000e+03, gap 0.0%
Optimize a model with 54 rows, 124 columns and 411 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [3e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Presolve removed 32 rows and 84 columns
Presolve time: 0.01s
Presolved: 22 rows, 40 columns, 119 nonzeros
Variable types: 0 continuous, 40 integer (40 binary)
Found heuristic solution: objective 3708.0000000

Root relaxation: objective 3.679250e+03, 20 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 3679.25000    0    6 3708.00000 3679.25000  0.78%     -    0s
H    0     0                    3686.0000000 3679.25000  0.18%     -    0s
H    0     0                    3683.0000000 3679.25000  0.10%     -    0s

Explored 0 nodes (20 simplex iterations) in 0.05 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 3.683000000000e+03, best bound 3.683000000000e+03, gap 0.0%
Optimize a model with 54 rows, 124 columns and 411 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [3e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Found heuristic solution: objective 3883
Presolve removed 32 rows and 82 columns
Presolve time: 0.01s
Presolved: 22 rows, 42 columns, 127 nonzeros
Variable types: 0 continuous, 42 integer (42 binary)

Root relaxation: objective 3.844000e+03, 13 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 3844.00000    0   10 3883.00000 3844.00000  1.00%     -    0s
H    0     0                    3853.0000000 3844.00000  0.23%     -    0s
H    0     0                    3852.0000000 3844.00000  0.21%     -    0s

Cutting planes:
  Gomory: 1
  GUB cover: 1
  Mod-K: 1

Explored 0 nodes (14 simplex iterations) in 0.05 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 3.852000000000e+03, best bound 3.852000000000e+03, gap 0.0%
Optimize a model with 54 rows, 124 columns and 411 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [2e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Presolve removed 32 rows and 83 columns
Presolve time: 0.01s
Presolved: 22 rows, 41 columns, 123 nonzeros
Variable types: 0 continuous, 41 integer (41 binary)
Found heuristic solution: objective 3868.0000000
Found heuristic solution: objective 3851.0000000
Found heuristic solution: objective 3841.0000000

Root relaxation: cutoff, 1 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0     cutoff    0      3841.00000 3840.00384  0.03%     -    0s

Explored 0 nodes (1 simplex iterations) in 0.04 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 3.841000000000e+03, best bound 3.841000000000e+03, gap 0.0%
Optimize a model with 54 rows, 124 columns and 411 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [2e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Presolve removed 32 rows and 84 columns
Presolve time: 0.01s
Presolved: 22 rows, 40 columns, 119 nonzeros
Variable types: 0 continuous, 40 integer (40 binary)
Found heuristic solution: objective 3714.0000000
Found heuristic solution: objective 3693.0000000

Root relaxation: objective 3.683000e+03, 15 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0    3683.0000000 3683.00000  0.00%     -    0s

Explored 0 nodes (15 simplex iterations) in 0.04 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 3.683000000000e+03, best bound 3.683000000000e+03, gap 0.0%
Optimize a model with 54 rows, 125 columns and 414 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [2e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Found heuristic solution: objective 2780
Presolve removed 12 rows and 43 columns
Presolve time: 0.01s
Presolved: 42 rows, 82 columns, 271 nonzeros
Variable types: 0 continuous, 82 integer (82 binary)

Root relaxation: objective 2.591000e+03, 64 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 2591.00000    0   27 2780.00000 2591.00000  6.80%     -    0s
H    0     0                    2779.0000000 2591.00000  6.77%     -    0s
*    0     0               0    2758.0000000 2758.00000  0.00%     -    0s

Cutting planes:
  Gomory: 1
  Clique: 8
  MIR: 1
  Zero half: 1

Explored 0 nodes (73 simplex iterations) in 0.10 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 2.758000000000e+03, best bound 2.758000000000e+03, gap 0.0%
Optimize a model with 54 rows, 124 columns and 411 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [2e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Found heuristic solution: objective 4828
Presolve removed 32 rows and 82 columns
Presolve time: 0.01s
Presolved: 22 rows, 42 columns, 127 nonzeros
Variable types: 0 continuous, 42 integer (42 binary)

Root relaxation: objective 3.871000e+03, 6 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0    3871.0000000 3871.00000  0.00%     -    0s

Explored 0 nodes (6 simplex iterations) in 0.03 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 3.871000000000e+03, best bound 3.871000000000e+03, gap 0.0%
Optimize a model with 54 rows, 124 columns and 411 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [2e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Presolve removed 32 rows and 83 columns
Presolve time: 0.01s
Presolved: 22 rows, 41 columns, 123 nonzeros
Variable types: 0 continuous, 41 integer (41 binary)
Found heuristic solution: objective 3798.0000000

Root relaxation: objective 3.789000e+03, 5 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0    3789.0000000 3789.00000  0.00%     -    0s

Explored 0 nodes (5 simplex iterations) in 0.04 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 3.789000000000e+03, best bound 3.789000000000e+03, gap 0.0%
Optimize a model with 54 rows, 124 columns and 411 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [2e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Presolve removed 32 rows and 84 columns
Presolve time: 0.01s
Presolved: 22 rows, 40 columns, 119 nonzeros
Variable types: 0 continuous, 40 integer (40 binary)
Found heuristic solution: objective 3767.0000000

Root relaxation: objective 3.762000e+03, 11 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0    3762.0000000 3762.00000  0.00%     -    0s

Explored 0 nodes (11 simplex iterations) in 0.04 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 3.762000000000e+03, best bound 3.762000000000e+03, gap 0.0%
Optimize a model with 54 rows, 124 columns and 411 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [2e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Found heuristic solution: objective 3964
Presolve removed 32 rows and 83 columns
Presolve time: 0.01s
Presolved: 22 rows, 41 columns, 123 nonzeros
Variable types: 0 continuous, 41 integer (41 binary)

Root relaxation: objective 3.908000e+03, 9 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0    3908.0000000 3908.00000  0.00%     -    0s

Explored 0 nodes (9 simplex iterations) in 0.04 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 3.908000000000e+03, best bound 3.908000000000e+03, gap 0.0%
Optimize a model with 54 rows, 124 columns and 411 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [2e+01, 7e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Found heuristic solution: objective 5988
Presolve removed 32 rows and 84 columns
Presolve time: 0.01s
Presolved: 22 rows, 40 columns, 119 nonzeros
Variable types: 0 continuous, 40 integer (40 binary)

Root relaxation: objective 5.920000e+03, 7 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0    5920.0000000 5920.00000  0.00%     -    0s

Explored 0 nodes (7 simplex iterations) in 0.03 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 5.920000000000e+03, best bound 5.920000000000e+03, gap 0.0%
Optimize a model with 54 rows, 124 columns and 411 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [2e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Presolve removed 32 rows and 83 columns
Presolve time: 0.01s
Presolved: 22 rows, 41 columns, 123 nonzeros
Variable types: 0 continuous, 41 integer (41 binary)
Found heuristic solution: objective 3868.0000000
Found heuristic solution: objective 3853.0000000

Root relaxation: objective 3.829200e+03, 13 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 3829.20000    0   10 3853.00000 3829.20000  0.62%     -    0s

Cutting planes:
  Clique: 1

Explored 0 nodes (13 simplex iterations) in 0.05 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 3.853000000000e+03, best bound 3.853000000000e+03, gap 0.0%
Optimize a model with 54 rows, 124 columns and 411 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [2e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Presolve removed 32 rows and 82 columns
Presolve time: 0.01s
Presolved: 22 rows, 42 columns, 127 nonzeros
Variable types: 0 continuous, 42 integer (42 binary)
Found heuristic solution: objective 3714.0000000
Found heuristic solution: objective 3690.0000000
Found heuristic solution: objective 3667.0000000

Root relaxation: cutoff, 4 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0     cutoff    0      3667.00000 3666.00367  0.03%     -    0s

Explored 0 nodes (4 simplex iterations) in 0.04 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 3.667000000000e+03, best bound 3.667000000000e+03, gap 0.0%
Optimize a model with 54 rows, 124 columns and 411 nonzeros
Coefficient statistics:
  Matrix range    [1e+00, 1e+00]
  Objective range [2e+01, 3e+03]
  Bounds range    [1e+00, 1e+00]
  RHS range       [1e+00, 1e+01]
Presolve removed 32 rows and 83 columns
Presolve time: 0.01s
Presolved: 22 rows, 41 columns, 123 nonzeros
Variable types: 0 continuous, 41 integer (41 binary)
Found heuristic solution: objective 3683.0000000
Found heuristic solution: objective 3663.0000000

Root relaxation: objective 3.660000e+03, 7 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0    3660.0000000 3660.00000  0.00%     -    0s

Explored 0 nodes (7 simplex iterations) in 0.04 seconds
Thread count was 4 (of 4 available processors)

Optimal solution found (tolerance 1.00e-04)
Best objective 3.660000000000e+03, best bound 3.660000000000e+03, gap 0.0%

KeyError: 'Total_Price'

In [10]:
def extractRealDate(flight):
    departDate = flight[2]
    arriDate = flight[3]
    departDate_String = departDate.strftime("%Y-%m-%d")# %H:%M:%S")
    arriDate_String = arriDate.strftime("%Y-%m-%d")
    
    return departDate_String, arriDate_String